---
# K3s Agent configuration
server: https://{{ kube_api_host }}:6443
token: {{ k3s_token }}

{% if public_ip is defined and public_ip != '' %}
# External IP configuration
node-external-ip: {{ public_ip }}
{% endif %}

{% if k3s_worker_flags is defined and k3s_worker_flags != '' %}
# Additional worker flags
{{ k3s_worker_flags }}
{% elif role_worker_flags is defined and role_worker_flags != '' %}
# Additional worker flags
{{ role_worker_flags }}
{% endif %}
